body {
  background-color: lightblue;
}

#titleText {
  text-align: center;
  font-size: 60px;
  font-family: Luminari;
}

.jumbotron {
  box-shadow: 0px 0px 25px black;
  background-color: CornflowerBlue;
  margin-top: 30px;
  margin-bottom: 75px;
}

#haikuContainer {
  box-shadow: 0px 0px 25px black;
  margin-top: 30px;
  border: 2px solid black;
  padding: 75px 75px 75px 75px;

}
